<template>
    <container>
        <div class="flex justify-center">
            <div class="w-full max-w-xs">
                <form @submit.prevent="login" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
                    <div class="mb-4">
                        <label class="block text-grey-darker text-sm font-bold mb-2" for="username">
                            Username
                        </label>
                        <input v-model="username" class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker mb-3 leading-tight" :class="{'border-red': errors.username.length > 0}" id="username" type="text" placeholder="Username">
                        <p v-if="errors.username.length > 0" v-for="usernameError in errors.username" class="text-red text-xs italic" v-text="usernameError"></p>
                    </div>
                    <div class="mb-6">
                        <label class="block text-grey-darker text-sm font-bold mb-2" for="password">
                            Password
                        </label>
                        <input v-model="password" class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker mb-3 leading-tight" :class="{'border-red': errors.password.length > 0}" id="password" type="password" placeholder="******************">
                        <p v-if="errors.password.length > 0" v-for="passwordError in errors.password" class="text-red text-xs italic" v-text="passwordError"></p>
                    </div>
                    <div class="flex items-center justify-between">
                        <button class="bg-blue hover:bg-blue-dark text-white font-bold py-2 px-4 rounded" type="submit">
                            Sign In
                        </button>
                        <router-link :to="{name: 'signup'}" class="inline-block align-baseline font-bold text-sm text-blue hover:text-blue-darker">
                            New user?
                        </router-link>
                        <!--<a class="inline-block align-baseline font-bold text-sm text-blue hover:text-blue-darker" href="#">-->
                            <!--Forgot Password?-->
                        <!--</a>-->
                    </div>
                </form>
                <p class="text-center text-grey text-xs">
                    ©2018 Seth Ballance. All rights reserved.
                </p>
            </div>
        </div>
    </container>
</template>

<script>
    export default {
        data() {
            return{
                username: '',
                password: '',
                errors: {
                    username: [],
                    password: [],
                }
            }
        },
        methods: {
            login() {
                window.axios.post('/auth/login', {
                    username: this.username,
                    password: this.password,
                }).then(() => {
                    this.$router.replace({name: 'home'});
                }).catch(error => {
                    this.errors = error.response.data;
                });
            }
        }
    }
</script>