<template>
    <div>
        <div class="rounded overflow-hidden shadow-lg">
            <img class="w-full" height="200" width="300" v-if="project.image_url" :src="project.image_url" :alt="project.title">
            <img class="w-full" height="200" width="300" v-else src="https://dummyimage.com/600x400/a0a0a0/fff.png&text=No+Image" alt="No Image">
            <div class="px-6 py-4">
                <div class="font-bold text-xl mb-2" v-text="project.title"></div>
                <p class="text-grey-darker text-base" v-text="project.description"></p>
            </div>
            <div class="px-6 py-4">
                <span v-for="tag in project.tags" class="inline-block bg-grey-light rounded-full px-3 py-1 text-sm font-semibold text-grey-darker mr-2 mb-2">#{{ tag }}</span>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        props: ['project']
    }
</script>