<template>
    <container>
        <div class="flex justify-center">
            <form @submit.prevent="createProject" class="shadow-lg w-full max-w-md bg-white rounded p-8">
                <div class="w-full mb-6">
                    <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="title">
                        Title
                    </label>
                    <input v-model="project.title" class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4 mb-3 leading-tight" id="title" type="text">
                </div>
                <div class="w-full mb-6">
                    <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="description">
                        Description
                    </label>
                    <textarea v-model="project.description" rows="5" class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4 leading-tight" id="description"></textarea>
                </div>
                <div class="w-full mb-6">
                    <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="image_link">
                        Image Link
                    </label>
                    <input v-model="project.image_link" class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4 mb-3 leading-tight" id="image_link" type="url" placeholder="https://picsum.photos/200/300/?random">
                    <p class="text-grey-dark text-xs italic">Include the url to link to an image for this project.</p>
                </div>
                <div class="w-full mb-6">
                    <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="project_link">
                        Project Link
                    </label>
                    <input v-model="project.project_link" class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4 mb-3 leading-tight" id="project_link" type="url" placeholder="https://google.com">
                    <p class="text-grey-dark text-xs italic">Include the url of the project or information about the project.</p>
                </div>
                <div class="w-full mb-6">
                    <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="tags">
                        Tags
                    </label>
                    <div class="flex flex-wrap">
                        <div v-for="tag in selectedTags" class="flex items-center bg-grey-lighter rounded-full px-3 py-1 text-sm font-semibold text-grey-darker mr-2 mb-1">
                            #{{ tag.name }}
                            <i class="fa fa-times-circle text-lg ml-1 cursor-pointer" @click="deselectTag(tag)"></i>
                        </div>
                    </div>
                    <select multiple class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4 mb-3 leading-tight" id="tags" type="url" placeholder="https://google.com">
                        <option v-for="tag in availableTags" :value="tag.id" v-text="tag.name" @click="selectTag(tag)"></option>
                    </select>
                    <p class="text-grey-dark text-xs italic">Select all tags related to the project.</p>
                </div>
                <div class="flex items-center justify-between">
                    <button class="bg-blue hover:bg-blue-dark text-white font-bold py-2 px-4 rounded" type="submit">
                        Create Project
                    </button>
                    <router-link :to="{name: 'projects'}" class="inline-block align-baseline font-bold text-sm text-blue hover:text-blue-darker">
                        Cancel
                    </router-link>
                </div>
            </form>
        </div>
    </container>
</template>
<script>
    export default {
        data() {
            return{
                project: {
                    title: '',
                    description: '',
                    image_link: '',
                    project_link: ''
                },
                availableTags: [],
                selectedTags: [],
            }
        },
        mounted() {
            this.getTags();
        },
        methods: {
            getTags() {
                window.axios.get('/api/tags').then(tags => {
                    this.availableTags = tags.data;
                });
            },
            selectTag(tag) {
                this.selectedTags.push(tag);

                var index = this.availableTags.indexOf(tag);
                if (index !== -1) this.availableTags.splice(index, 1);
            },
            deselectTag(tag) {
                this.availableTags.push(tag);

                var index = this.selectedTags.indexOf(tag);
                if (index !== -1) this.selectedTags.splice(index, 1);
            },
            createProject() {
                window.axios.post('/project', this.project).then(project_id => {
                    console.log(project_id.data)
                    window.axios.post('/tags', {project_id: project_id.data, tags: this.selectedTags}).then(() => {
                    //    redirect somewhere
                    });
                });
            }
        }
    }
</script>