<template>
    <container>
        <h1>Hello There!</h1>
    </container>
</template>
<script>
    export default {
        data() {
            return{
                project: {},
            }
        },
        mounted() {
            this.getProject();
        },
        methods: {
            getProject() {
                window.axios.get(`/api/project?project=${this.$route.params.project_id}`)
                    .then(project => {
                        this.project = project.data;
                    });
            }
        }
    }
</script>