<template>
    <container>
        <div class="flex justify-center mb-8">
            <router-link :to="{name: 'createProject'}" tag="button" class="bg-blue hover:bg-blue-dark text-3xl text-white font-bold py-4 px-6 rounded">Add Project</router-link>
        </div>
        <div class="flex flex-wrap justify-between -m-4">
            <project-card v-for="project in projects" :project="project" :key="project.id" class="p-4 w-full sm:w-full md:w-1/2 lg:w-1/3"></project-card>
        </div>
    </container>
</template>
<script>
    import ProjectCard from './card';

    export default {
        components: {
            ProjectCard
        },
        data() {
            return{
                projects: [],
            }
        },
        mounted() {
            this.getData();
        },
        methods: {
            getData() {
                window.axios.get('/api/projects').then(projects => {
                    this.projects = projects.data;
                });
            }
        },
        computed: {
            isAdmin() {
                return window.user.is_admin;
            }
        }
    }
</script>