<template>
    <container>
        <h1>Hello There!</h1>
        <h2> {{ message }} </h2>
    </container>
</template>

<script>
    export default {
        data() {
            return{
                message: '',
                data: ''
            }
        },
        mounted() {
            this.getData();
        },
        methods: {
            getData() {
                this.message = 'this is the about page';
            }
        }
    }
</script>