<template>
    <div class="flex flex-col justify-around bg-fixed bg-cover bg-cover-image bg-center min-h-screen p-6">
        <div class="flex flex-col relative">
            <div class="block flex-grow">
                <div class="flex justify-center">
                    <div class="self-center">
                        <router-link :to="{name: 'home'}" class="flex justify-center items-center">
                            <img src="/images/SBLogoInverted.png" width="250" height="250">
                        </router-link>
                        <div class="flex justify-center text-4xl flex-wrap">
                            <router-link :to="{name: 'about'}" class="text-grey hover:text-white pl-4 pr-4">
                                About
                            </router-link>
                            <span class="text-grey hidden md:block">&bull;</span>
                            <router-link :to="{name: 'projects'}" class="text-grey hover:text-white pl-4 pr-4">
                                Projects
                            </router-link>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="mt-6">
            <div class="flex justify-center">
                <a href="https://github.com/sballance" class="pr-2">
                    <i class="fa fa-github-square fa-2x text-grey-darker hover:text-grey-light" aria-hidden="true"></i>
                </a>
                <a href="https://www.instagram.com/seth12thman/?hl=en" class="pl-2 pr-2">
                    <i class="fa fa-instagram fa-2x text-grey-darker hover:text-grey-light" aria-hidden="true"></i>
                </a>
                <a href="https://www.facebook.com/saballance" class="pl-2">
                    <i class="fa fa-facebook-square fa-2x text-grey-darker hover:text-grey-light" aria-hidden="true"></i>
                </a>
            </div>
            <div class="flex justify-center flex-wrap">
                <a href="mailto:bruce.wayne.the.hacker@gmail.com" class="pl-2 pr-2 text-grey-darker hover:text-grey-light">bruce.wayne.the.hacker@gmail.com</a>
                <span class="text-grey-darker hidden md:block">&bull;</span>
                <a href="mailto:seth.ballance@wallawalla.edu" class="pl-2 pr-2 text-grey-darker hover:text-grey-light">seth.ballance@wallawalla.edu</a>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return{
                message: '',
            }
        },
        mounted() {
            this.getData();
        },
        methods: {
            getData() {
                this.message = 'this is the home page';
            }
        }
    }
</script>